html {
  background: #333333;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
}

body {
  height: 97vh;
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 250px;
  border: 2px solid #ff751a;
}

#container > div {
  height: calc(20% - 4px);
  width: calc(20% - 4px);
  border: 2px solid #ff751a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
}

#bingo {
  margin-bottom: 20px;
}

#bingo > span {
  color: #ff4d4d;
}

#start {
  margin-top: 20px;
  background-color: #5c5cd6;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  width: 200px;
  height: 50px;
  border: 5px solid blue;
  border-radius: 100px;
}

#bingo {
  display: none;
}
