* {
  font-family: "Poppins", sans-serif;
}

.mess {
  font-size: 25px;
}

body {
  background-color: #333333;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  text-align: center;
}

.container > div {
  display: inline-block;
  vertical-align: middle;
  margin-right: -5px;
  margin-bottom: -5px;
  height: calc(100% / 3);
  width: calc((100% - 8px) / 3);
  font-size: 55px;
  font-weight: bolder;
  line-height: 1.9em;
}

div[id="1"] {
  border-right: 5px solid #00ff00;
  border-bottom: 5px solid #00ff00;
}

div[id="2"] {
  border-right: 5px solid #00ff00;
  border-bottom: 5px solid #00ff00;
}

div[id="3"] {
  border-bottom: 5px solid #00ff00;
}

div[id="4"] {
  border-right: 5px solid #00ff00;
  border-bottom: 5px solid #00ff00;
}

div[id="5"] {
  border-right: 5px solid #00ff00;
  border-bottom: 5px solid #00ff00;
}

div[id="6"] {
  border-bottom: 5px solid #00ff00;
}

div[id="7"] {
  border-right: 5px solid #00ff00;
}

div[id="8"] {
  border-right: 5px solid #00ff00;
}
